.about {
    display: flex;
}

/* left side */
.about__title {
    width: 340px;
    height: 94px;
    margin-top: 160px;
    margin-left: 171px;
    margin-right: 195px;
    padding: 0;
}

.about__title-title {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: #534847;
}

.about__title-small::before {
    display: inline-block;
    content: "";
    background-image: url(../images/home/rectangle.svg);
    width: 25px;
    height: 1px;
    vertical-align: middle;
    margin-right: 12px;
}

.about__title-small {
    margin-top: -20px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #E2B84C;
}

/* right side */

.about__description {
    width: 609px;
    margin-top: 271px;
    position: relative;
}

.about__description-item {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #8D8180;
    height: 97px;
    margin-bottom: 20px;
}

.about__description-small {
    margin-top: 43px;
    display: float;
    float: right;
    width: 112px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #E2B84C;
    margin-bottom: 200px;
}

/* decoration svg */
.about__description::before {
    display: block;
    content: "";
    width: 103px;
    height: 103px;
    background-image: url('../images/about/circle.svg');
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    left: 556px;
    top: -172px;
}

.about__description::after {
    display: block;
    content: "";
    width: 59px;
    height: 204px;
    background-image: url('../images/about/circles.svg');
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    left: -661px;
    bottom: 20px;
}